# --- IDE configuration file ---
.idea/

# --- Python cached files (standard ignore) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- pyproject ---
*.egg-info/

# --- environment ---
.venv/

# --- LOGS ---
*.log
# !AlienShooterLastHope.log

# --- pyinstaller ---
build/
dist/

# --- Sample Lgd ---
.lgd_sample/
*.asm
*.lgd
*.lgc
*.csv
*.c
*.h
*.json
constants_usage_results.ini

# --- allow test data ---
!tests/**/data/
!tests/**/data/*.lgd
!tests/**/data/*.csv
!tests/**/data/*.asm
!tests/**/data/*.lgc
!tests/**/data/LGC/*.lgc



