# --- IDE configuration file ---
.idea/

# --- Python cached files (standard ignore) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/

# --- pyproject ---
*.egg-info/

# --- environment ---
.venv/

# --- LOGS ---
*.log
# !AlienShooterLastHope.log

# --- pyinstaller ---
build/
dist/

# --- Sample Lgd ---
.bak/
*.zip
.lgd_sample/
*.asm
*.lgd
*.lgc
*.csv
*.c
*.h
*.json
scripts/**/data
scripts/**/output

# --- allow test data ---
!tests/fixtures/**




