# --- IDE configuration file ---
.idea/

# --- Python cached files (standard ignore) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- pyproject ---
*.egg-info/

# --- environment ---
.venv/

# --- LOGS ---
*.log
# !AlienShooterLastHope.log

# --- pyinstaller ---
build/
dist/

# --- Sample Lgd ---
.lgd_sample/
*.asm
*.lgd
*.lgc
*.csv
*.c

# --- allow test data ---
!test/**/data/
!test/**/data/*.lgd
!test/**/data/*.csv
!test/**/data/*.asm
!test/**/data/LGC/*.lgc



